<template name="home">
	{{> dropzone}}
	<div class="row">
	{{#each images}}
    {{> image}}
  {{/each}}
	</div>
	
</template>

<template name="dropzone">
  <div class="row">
    <div class="col-md-12">
      <div id="dropzone" class="dropzone">
        <div class="well well-drop-zone">
          Drop file(s) here to upload
        </div>
      </div>
    </div>
  </div>
</template>

<template name="image">
    <div class="col-md-3 col-xs-12">
		<div class="thumbnails">		
      <a href="{{url}}" target="_blank" class="thumbnail">
        <img src="{{url}}" />
      </a>	
			<button class="btn-warning js-del">Delete</button>
    </div>
		
		</div>
</template>

<!-- <template name="image">
	<div class="container">
		<div class="row">
		{{#each images}}
			<div class="col-xs-12 col-md-3">
				<div class="thumbnail">
					<a href="{{url}}" target="_blank">
					<img class="single-img" src="{{url}}"/></a>
				</div>
			</div>
		{{/each}}
		</div>
	</div>
</template> -->